


.gallery {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3,1fr); ;
    background-color: white;  
}


.gallery > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
  }

  @media (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(1,1fr); 
    }
}



  .flex-container{
    display: flex;
    flex-direction: row;
    background-color: bisque;
  }


  .flex-container>div{
    background-color:skyblue;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }




  

